 .u-section-1 {
  background-image: url("images/image31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2127px;
}

.u-section-1 .u-products-1 {
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  grid-gap: 45px 45px;
  min-height: 1847px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

.u-section-1 .u-repeater-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: 319px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0;
  padding: 40px 135px 41px 134px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  background-image: none;
  margin: -76px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1754px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1523px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 22.5px) calc(50% - 22.5px);
    min-height: 2625px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }
}